<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Service Bus specific app setings for messaging connections -->
		<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://josephm.servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=kF1xbiwfI76WjzeZwCTbd6UIpDyjbHUOAD16yHt0HSk=" />
		<add key="Microsoft.ServiceBus.QueueName" value="ProcessingQueue" />
	</appSettings>
</configuration>